.editor-header {
  height: $nav-bar-height;
  width: 100%;
  margin: 0;

  position: sticky;
  top: 0;

  background-color: $color-800;

  .editor-navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-bar {
      background-color: $color-700;
      width: 72px;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: background-color 0.2s;

      &:hover {
        cursor: pointer;
        background-color: $color-orange;
      }

      .menu-bar-icon {
        display: inline-block;
        width: 30px;
        height: 18px;

        background-image: url("../assets/icon-menu.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .editor-name {
      margin: 0 30px;
      color: $color-100;

      font-size: $font-size-h6;
      letter-spacing: 6px;
      font-weight: bold;
    }

    .separate-bar {
      display: inline-block;
      width: 1px;
      height: 40px;

      background-color: $color-600;
    }

    .current-doc {
      @include doc-item(true);

      margin-left: 30px;

      .doc-name-input {
        background: transparent; /* Match the background */
        border: none; /* No border */
        color: $color-100; /* Text color like surrounding text */
        font-family: inherit; /* Match the font to the surrounding text */
        font-size: inherit; /* Match the font size to the surrounding text */
        outline: none; /* Remove focus outline */
        border-bottom: 1px solid transparent; /* Add an underline to indicate editability */

        width: 300px;

        &:hover,
        &:focus {
          border-bottom: 2px solid $color-100; /* Changes the underline color on hover/focus */
        }

        &:focus {
          outline: none; /* Removes the default focus styles */
        }
      }
    }

    .flex-spacer {
      flex-grow: 1;
    }

    .delete-icon {
      @include icon-button("../assets/icon-delete.svg");
    }

    .save-btn {
      @include editor-button(url("../assets/icon-save.svg"));
      margin: 0 16px;
    }
  }
}
