// Color Palette
$color-1000: #151619;
$color-900: #1D1F22;
$color-800: #2B2D31;
$color-700: #35393F;
$color-600: #5A6069;
$color-500: #7C8187;
$color-400: #C1C4CB;
$color-300: #E4E4E4;
$color-200: #F5F5F5;
$color-100: #FFFFFF;
$color-orange: #E46643;
$color-orange-hover: #F39765;

// Typography
$font-family-roboto: 'Roboto', sans-serif;
$font-family-roboto-slab: 'Roboto Slab', serif;
$font-family-roboto-mono: 'Roboto Mono', monospace;

// Font Sizes
$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;
$font-size-regular: 15px;
$font-size-large: 24px;
$font-size-small: 13px;

// Line Spacing
$line-height-base: 1.6;
$line-height-tight: 1.4;

// layout
$nav-bar-height: 72px;
$nav-bar-height-mobile: 56px;

// Define Mixin for Roboto Regular
@mixin roboto-regular($size: 15px, $spacing: normal, $height: normal) {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: $size;
  letter-spacing: $spacing;
  line-height: $height;
}

// Define Mixin for Roboto Light
@mixin roboto-light($size: 13px, $height: normal) {
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: $size;
  line-height: $height;
}

// Define Mixin for Roboto Slab Bold
@mixin roboto-slab-bold($size: 32px, $height: normal) {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: $size;
  line-height: $height;
}

// Define Mixin for Roboto Slab Bold
@mixin roboto-slab-regular($size: 14px, $height: normal) {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
}

// Define Mixin for Roboto Slab Light
@mixin roboto-slab-light($size: 28px, $height: normal) {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: $size;
  line-height: $height;
}

// Define Mixin for Roboto Mono Regular
@mixin roboto-mono-regular($size: 14px, $height: normal) {
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
}
