// Main SCSS file

// Import all base files
@import 'reset';
@import 'variables';
@import 'base';

// Import each section
@import 'header';
@import 'toolbar';

// theme colors
:root {
  --editor-background-color: #{$color-100};
  --editor-in-app-heading-color: #{$color-200};
  --editor-in-app-heading-title-color: #{$color-500};
  --editor-spacer-color: #{$color-500};
}

body.dark-mode {
  --editor-text-color: #{$color-400};
  --editor-background-color: #{$color-1000};
  --editor-in-app-heading-color: #{$color-900};
  --editor-in-app-heading-title-color: #{$color-400};
  --editor-spacer-color: #{$color-600};
}

.editor-container {
  display: flex;
  height: 100vh;
}


.editor-main {
  display: flex;
  height: calc(100vh - $nav-bar-height);
  overflow: hidden;

  .in-app-heading {
    position: sticky;
    top: 0;
    z-index: 10;

    padding: 16px 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--editor-in-app-heading-color);

    > .heading-title {
      @include roboto-regular(14px, 2px, normal);
      font-weight: 500;
      color: var(--editor-in-app-heading-title-color);
    }

    > .preview-icon {
      display: inline-block;
      width: 16px;
      height: 12px;

      background-image: url("../assets/icon-show-preview.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .markdown-section {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .editor-area {
      // font
      @include roboto-mono-regular(14px, 24px);

      flex: 1;
      width: 100%;

      box-sizing: border-box;
      border: none;
      padding: 10px 16px;
      resize: none;

      color: var(--editor-text-color);
      background-color: var(--editor-background-color);
    }
  }

  .editor-spacer {
    flex-grow: 0;

    width: 1px;
    height: 100%;
    background-color: var(--editor-spacer-color);
  }

  .preview-section {
    flex: 1;
    height: 100%;

    .preview-area {
      box-sizing: border-box;
      height: 100%;
      overflow: auto;
      width: 100%;
      padding: 24px 24px 100px 24px;

      background-color: var(--color-canvas-default);
    }
  }

}

